<h1>Welcome to the lighters-up project</h1>
<p>This is a project by the naughty students of Moringa School, namely:</p>
<p>
	<ul>
		<li>Dhruti</li>
		<li>Keval</li>
		<li>Chris</li>
		<li>Will</li>
		<li>Diana</li>
	</ul>
</p>